<nav-menu></nav-menu>

<div style="position:relative;">
    <div style="margin-top:51px;margin-bottom:50px;"
         [ngBusy]="{busy: busyPromise, message: 'Loading...', delay: 100, minDuration: 650}">
        <div class='container-fluid' style="padding-top:20px">
            <mdc-linear-progress role="progressbar"></mdc-linear-progress>
            <router-outlet style="margin-top:10px;"></router-outlet>
        </div>
    </div>
</div>

<footer class="footer" style="position:fixed;bottom:0;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <p class="pull-right">
                    <a [routerLink]="['terms-and-conditions']">Terms and Conditions</a>
                    | <a [routerLink]="['privacy-policy']">Privacy Policy</a>
                </p>
                <p>&copy; 2018 Baton Rouge Business Finder</p>
            </div>
        </div>
    </div>
</footer>