<div class="container" style="padding-top:20px;">
    <h1>About</h1>

    <p>
        This application was created as part of the
        <a href="http://www.activateconf.com/hackathon">Activate Conference Hackathon</a>
        using data from
        <a href="https://data.brla.gov/">Baton Rouge's Official Open Data Portal</a>,
        specifically the <a href="https://data.brla.gov/Business-and-Financial/Businesses-Registered-with-EBR-Parish/xw6s-bcqm">Businesses Registered with EBR Parish</a>
        dataset.
    </p>
    <p>
        You can find the source code at <a href="https://github.com/activate-conf-hackathon-sparkhound-team/BatonRougeBusinessFinder">https://github.com/activate-conf-hackathon-sparkhound-team/BatonRougeBusinessFinder</a>.
    </p>
</div>
