
<div class="row">
    <div class="col-lg-offset-3 col-lg-6">
        <form (ngSubmit)="load()" #searchForm="ngForm">
            <div class="form-group form-group-lg">
                <div class="input-group">
                    <input type="text" name="searchText" [(ngModel)]="searchText" class="form-control" placeholder="Search for businesses..." />
                    <span class="input-group-btn">
                        <button (click)="load()" class="btn btn-primary btn-lg" type="button">Search</button>
                    </span>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            {{totalCount}} results
            (showing {{startingNumber}} to {{endingNumber}})
        </div>
    </div>
    <!--<div class="panel-heading">heading</div>
    <div class="panel-body">
    </div>
    <div class="panel-footer">footer</div>-->
    <div class="table-responsive">
        <table class="table table-condensed table-striped table-hover" *ngIf="registeredBusinesses">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Open Date</th>
                    <th>Close Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let b of registeredBusinesses">
                    <th>
                        <a [routerLink]="['/registered-business', b.accountNumber]">
                            {{ b.accountName }}
                        </a>
                    </th>
                    <td>{{ b.naicsCategory }}</td>
                    <td>{{ b.businessOpenDate | date }}</td>
                    <td>{{ b.businessCloseDate | date }}</td>
                </tr>
                <tr>
                    <td colspan="5">
                        <div style="display:inline-block;">
                            <nav aria-label="Page navigation">
                                <ul class="pagination pagination-sm">
                                    <li [ngClass]="{'disabled': !isPreviousAllowed}">
                                        <a href="#" title="Previous" aria-label="Previous" (click)="previous()">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li><a href="#" title="Current" aria-label="Current">{{pageNumber}}</a></li>
                                    <li [ngClass]="{'disabled': !isNextAllowed}">
                                        <a href="#" title="Next" aria-label="Next" (click)="next()">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
